$main-font: 'Open Sans', sans-serif;

$main-light-color: #ffffff;
$header-color: #2d3f51;
$text-color: #84939e;
$accent-color: #1abc9c;
$section-background-color: #f5f7f8;
$block-background-color: #fbfcfc;
$block-border-color: #e6ebf0;
$button-background-color: #85949e;
$widget-color: #abbac4;
$darker-footer-color: #333c39;
$lighter-footer-color: #424e4a;
